<div class="mobileHide">
  <header class="header">
    <div class="header__fraction">
      <a id="header-logo" class="header__logo" href="/index"></a>
    </div>
    <div class="header__fraction">
      <button id="header-brands-button" class="header__button" type='button'>
        <span id="brands-outline" class="header__button-outline header__button-outline_hidden"></span>
        БРЕНДЫ
      </button>
      <button id="header-categories-button" class="header__button" type='button'>
        <span id="categories-outline" class="header__button-outline header__button-outline_hidden"></span>
        КАТЕГОРИИ
      </button>
    </div>
    <div class="header__fraction">
      <button id="header-subscribe-button" class="header__button" type='button'>
        <span id="subscribe-outline" class="header__button-outline header__button-outline_hidden"></span>
        ПОДПИСАТЬСЯ
      </button>
    </div>
    <div class="header__fraction">
      <a id="header-login-button" class="header__button header__button_login" href="/account/login">
        <span id="login-outline" class="header__button-outline header__button-outline_hidden"></span>
        ПРОФИЛЬ
      </a>
      <button id="header-finder-button" class="header__button " type='button'>
        <span id="finder-outline" class="header__button-outline header__button-outline_hidden"></span>
        ПОИСК
      </button>
      <a id="header-cart-button" class="header__button header__button_cart" href="/cart">
        <span id="cart-outline" class="header__button-outline header__button-outline_hidden"></span>
        КОРЗИНА (<span class='cart-count'>{{ cart.item_count }}</span>)
      </a>
    </div>
  </header>
</div>

<div class="mobileShow">
  <div class="header">
    <a href="/index">
      <div class="logo"></div>
    </a>
    <button class="menu-button">Меню</button>
  </div>
  <div class="menu-popup menu-popup_hidden">
    <div class="fake-header">
      <a href="/index">
        <div class="fake-logo"></div>
      </a>
      <button class="menu-close-button">Закрыть</button>
    </div>
    <nav class="menu-mob">
      <ul class="menu-list">
        <li class="menu-list-element"><a class="menu-link" href="/pages/menu-brands-mob">Бренды</a></li>
        <li class="menu-list-element"><a class="menu-link" href="/pages/menu-categories-mob">Категории</a></li>
      </ul>
      <ul class="menu-list">
        <li class="menu-list-element"><a class="menu-link" href="/account/register">Регистрация</a></li>
        <li class="menu-list-element"><a class="menu-link" href="/account/login">Войти</a></li>
        <li class="menu-list-element"><a class="menu-link" href="./pages/wishes/wishes.html">Поиск</a></li>
        <li class="menu-list-element"><a class="menu-link" href="/cart">Корзина (<span class='cart-count'>{{ cart.item_count }}</span>)</a></li>
      </ul>
      <ul class="menu-list">
        <li class="menu-list-element"><a class="menu-link" href="#">Подписаться</a></li>
        <li class="menu-list-element"><a class="menu-link" href="/pages/about-us">О нас</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- MENU: BRANDS -->
{% render 'header-menu-brands' %}

<!-- MENU: CATEGORIES -->
{% render 'header-menu-categories' %}

<!-- FORM: SUBSCRIBE -->
{% render 'form-subscribe' %}

<!-- FORM: SIGN IN -->
{% render 'form-sigh-in' %}

<!-- FORM: PASSWORD RECOVERY -->
{% render 'form-password-recovery' %}

<!-- FINDER -->
<div id="finder-menu" class="menu__finder menu_hidden">
  <div class="search-form__container" data-search-form-container>
    <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
      <div class="search-form__input-wrapper">
        <input
          type="text"
          name="q"
          placeholder="{{ 'Поиск' }}"
          role="combobox"
          aria-autocomplete="list"
          aria-owns="predictive-search-results"
          aria-expanded="false"
          aria-label="{{ 'Поиск'}}"
          aria-haspopup="listbox"
          class="search-bar__input"
          data-predictive-search-drawer-input
          data-base-url="{{ routes.search_url }}"
        />
        <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
        <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
      </div>

      <button class="search-bar__submit"
        type="submit"
        data-search-form-submit>
        {% include 'icon-search' %}
      </button>
    </form>
  </div>
</div>
