{% assign on_sale = false %}

{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% if on_sale %}
  {% assign discount = product.price | minus: product.compare_at_price | times: 100 | divided_by: product.compare_at_price | remove: '.0' %}
{% endif %} 

<div class="item">

  <div class="item__info">
    <button class="back-button">
      <a href="javascript:history.back()" class="back-button__text">Назад</a>
    </button>
    <div class="item__info-grid">
      <h1 class="item__brand">{{ product.title }}</h1>
    </div>
    <div class="item__info-grid">
      <div class="item__price item__price--old">{{ product.compare_at_price | money }}</div>
      <div class="item__price {% if on_sale %}item__price--sale{% endif %}">
        {{ product.price | money }}

        {% if on_sale %} 
          <span class="discount discount--sale">
            ({{discount}}%)
          </span>
        {% endif %}
      </div>
    </div>
    <div class="item__info-grid">
      <div class="item__description">{{ product.description }}</div>
    </div>
  </div>

  <div class="item__product-wrapper">
<!--
    <noscript>
    <a href="{{ featured_image | img_url: '700x700' }}">
      <img src="{{ featured_image | img_url: product_image_size }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg-{{ section.id }}">
    </a>
    </noscript> -->

    <div class="item__image-product fade">
      {% if product.images.size > 0 %}

        {% for image in product.images %} 

            <div>
              <a href="{{ image.src | img_url: '1000x1000' }}" data-fancybox="gallery">
                <img src="{{ image.src | img_url: '450x450' }}" alt="{{ image.alt | escape }}">
              </a>
            </div>

        {% endfor %} 

      {% endif %}

    </div>

    <div class="product-single__thumbnails">

      {% if product.images.size > 0 %}

        {% for image in product.images %}

          <div class="product-single__thumbnail-item" data-image-id="{{ image.id }}">
            <img src="{{ image.src | img_url: '165x165' }}" alt="{{ image.alt | escape }}">
          </div>

        {% endfor %}

      {% endif %}

    </div>
  </div>

  <!-- {% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
    </script>
  {% endunless %} -->

  <div class="item__order">

    {% assign is_single = product.has_only_default_variant %}

    {% unless is_single %}

      {% if product.title != 'Подарочный сертификат' %}
        <h4 class="item__radio-heading">Выберите размер:</h4>
      {% else %}
        <h4 class="item__radio-heading-variants">Выберите сумму сертификата:</h4>
        <p class="item__preorder-info-variants">(k = 1000 руб)</p>
      {% endif %}

    {% endunless %} 

    <div class="round-sizes">
      
      {% assign style = '' %}
      
      {% if is_single %}
        {% assign style = 'style="display: none;"' %}
      {% endif %}

      {% for variant in product.variants %}
        {% if variant.available %}
          <label class="round-sizes__size" {{style}}>
            <input class="round-sizes__true-radio" type="radio" name="size">
              <div class="round-sizes__fake-radio">
                <span
                  class="item__variants-padding"
                  data-value="{{ variant.id }}"
                  data-selected="true">
                  {{ variant.title }} 
                </span>
              </div>
          </label>
        {% else %}
          <label class="round-sizes__size" {{style}}> 
              <span class="round-sizes__fake-radio">
                <span class="item__variants-padding">
                    {{ variant.title  }}
                </span>
              </span>
          </label>
        {% endif %}
    {% endfor %}
    </div>

    {% assign isAvaliable = false %}

    {% for variant in product.variants %}
      {% if variant.available %}
        {% assign isAvaliable = true %}
        {% break %}
      {% endif %}
    {% endfor %} 

    <button
      class="black-button add-to-cart {% unless isAvaliable %}add-to-cart--disabled{% endunless %}" type="submit" name="add"
      {% unless current_variant.available %} aria-disabled="true"{% endunless %}
      aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
      class="btn product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary-accent{% endif %}">
      В корзину
    </button>

    <p class="item__preorder-info">
      Оплата заказа при получении доступна только для доставки по Москве и при самовывозе.
    </p> 

    <p class="item__preorder-info">
    Если вы не видите размер - товар его не имеет, а если размер нельзя выбрать - он отсутсвует.<br>
    Вы можете оформить предзаказ на отсутствующий размер в нашем
    <button id="open_chatra_preorder" onclick="Chatra('openChat', true)">чате!</button><br>
    Свяжитесь с нами, чтобы обсудить все важные детали.<br>
    </p>
    <!-- <button class="circle-like-button"></button> -->
    <div class="item__preorder-info">
      <a href="/pages/shipping-and-payment" class="item__shipping">Доставка</a>
      <span>и</span>
      <a href="/pages/waranty-and-returns" class="item__shipping">возврат</a>
    </div>
  </div>
</div>

